#recipe-list
  .subheader
    %h3
      = @subheader
  #recipe-search-form
    .form-row
      %form{:action => recipe_search_path, :method => 'get', :class => 'search-form'}
        = text_field_tag(:q, nil, :class => 'search-input')
        %span.search-button
          Search Recipes
    .form-row
      %form{:action => ingredient_search_path, :method => 'get', :class => 'search-form'}
        = text_field_tag(:q, nil, :class => 'search-input')
        %span.search-button
          Search Ingredients
    .form-row
      = link_to '20 Random', random_recipes_path(:format => :html), :remote => true, :id => 'more-recipes-link', :class => 'search-button'
  #random-recipe-list
    = render @recipes
  .recipe-list-footer
    = link_to 'All Recipes', all_recipes_path, :id => 'all-recipe-link'

#comment-list
  .subheader
    %h3
      Messages
  .form-container
    = link_to 'Share Your Thoughts', '#', :class => 'form-toggle-link'
    = form_for Comment.new, :html => {:class => 'hidden-form comment-form'} do |f|
      .label
        Name
      = f.text_field :user_name
      .label
        Email
        %span.info
          (*won't be displayed, but put it in if you want us to get in touch)
      = f.text_field :email
      .label
        Comment
      = f.text_area :content
      = f.submit :class => 'submit button'
      = f.submit 'Cancel', :class => 'cancel button'
  .comments
    - Comment.order('id DESC').limit(200).each do |comment|
      .comment
        .user-name= "#{comment.user_name} said:"
        .time= "posted #{time_ago_in_words(comment.created_at)} ago"
        .content= comment.content
