#recipe-list
  .subheader
    %h3
      = @subheader
  - @recipes.each do |recipe|
    .recipe-name
      = link_to recipe.name, recipe_path(recipe)
#comment-list
  .subheader
    %h3
      Messages
  .form-container
    = link_to 'Share Your Thoughts', '#', :class => 'form-toggle-link'
    = form_for Comment.new, :html => {:class => 'hidden-form comment-form'} do |f|
      .label
        Name
      = f.text_field :user_name
      .label
        Email
        %span.info
          (*won't be displayed, but put it in if you want us to get in touch)
      = f.text_field :email
      .label
        Comment
      = f.text_area :content
      = f.submit :class => 'submit button'
      = f.submit 'Cancel', :class => 'cancel button'
  .comments
    - Comment.limit(50).each do |comment|
      .comment
        .user-name= "#{comment.user_name} said:"
        .content= comment.content
