#recipe-search-form
  = form_tag(recipes_path, :method => :get) do
    = label_tag(:recipe_name)
    = text_field_tag(:recipe_name)
    = submit_tag(:search)
  = form_tag(recipes_path, :method => :get) do
    = label_tag(:ingredient_name)
    = text_field_tag(:ingredient_name)
    = submit_tag(:search)


.recipe-list
  - @recipes.each do |recipe|
    .recipe-name
      = link_to recipe.name, recipe_path(recipe)