.recipe.left-col
  %h1= @recipe.name
  %h2 Ingredients
  %ul#ingredients
    - @recipe.ingredients.each do |ingredient|
      %li.ingredient-name
        = ingredient.name
  %h2 Method
  %ul#method
    - @recipe.method.each do |step|
      %li.step= step
  %h2 Notes
  %ul#notes
    - @recipe.notes.each do |note|
      %li.note= note
.right-col
  %h2 More Recipes to try
  %ul.related
    - @recipe.related.limit(5).each do |related_recipe|
      %li.related-recipe
        = link_to(related_recipe.name, related_recipe)
  #comment-list
  = render :partial => 'comments/comment_list', :locals => {:comments => @recipe.comments.order('id DESC').limit(20), :new_comment => @recipe.comments.build}