.recipe.left-col
  %h1= @recipe.name
  %h2 Ingredients
  %ul#ingredients
    - @recipe.ingredients.each do |ingredient|
      %li.ingredient-name
        = ingredient.name
  %h2 Method
  %ul#method
    - @recipe.method.each do |step|
      %li.step= step
  %h2 Notes
  %ul#notes
    - @recipe.notes.each do |note|
      %li.note= note
#comment-list.right-col
  = render :partial => 'comments/comment_list', :locals => {:comments => @recipe.comments.limit(20), :new_comment => @recipe.comments.build}