!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    <meta property="fb:admins" content="545338822" />
    %title= @page_title || "Apple Charlotte Cooking"
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27921756-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #page
      #header
        %h1 Apple Charlotte Cooking
        #navigation
          .tabs
            .tab
              = link_to "Home", root_path
      #content
        - if flash[:notice]
          #flash.notice
            = flash[:notice]
        = yield
      #footer
        written and updated by John Speare, Betsy Speare, Andy Camp, and Alex Wetmore, and Blake
        = link_to '.', write_json_path, :id => 'all-recipe-link', method: :post

