!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title= @page_title || "Apple Charlotte Cooking"
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27921756-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    #page
      #header
        -#.char-left
        -#  = image_tag('/assets/char_head.png', :size => '110x110')
        %h1 Apple Charlotte Cooking
        -#.char-right
        -#  = image_tag('/assets/char_head_right_small.png', :size => '80x115')
        #navigation
          .tabs
            .tab
              = link_to "Home", root_path
      #content
        - if flash[:notice]
          #flash.notice
            = flash[:notice]
        = yield
      #footer
        written and updated by John Speare, Betsy Speare, Andy Camp, and Alex Wetmore

