!!!
%html
  %head
    %meta{:charset => 'utf-8'}
    %title Apple Charlotte Cooking
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
  %body
    #page
      #header
        .char-left
          = image_tag('/assets/char_head.png', :size => '110x110')
        %h1 Apple Charlotte Cooking
        .char-right
          = image_tag('/assets/char_head_right_small.png', :size => '80x115')
        #navigation
          .tabs
            .tab
              = link_to "Home", root_path
      #content
        = yield
      #footer
        written and updated by John Speare, Betsy Speare, Andy Camp, and Alex Wetmore

